<a href="https://colab.research.google.com/github/ASMT-College/lab1-data-pre-processing-00AbHi00/blob/main/tocLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LAB 1: Using Pandas for Data Cleaning:
<ul>
  <li> Filling NA values </li>
  <li> Removing null values </li>
  <li> Standaization (Repalcing) values to maintain consitency </li>
  <li> Drop Duplicate values </li> <br/>
</ul>

In [ ]:
import pandas as pd
df=pd.read_csv('/data/employee_data.csv')

print('NULL Age:',df['Age'].isnull().sum())
print('NULL salary:',df['Salary'].isnull().sum())
print(df['Department'].unique())
print(df['Department'].nunique())

NULL Age: 1
NULL salary: 1
['HR' 'Finance' 'Human Resources' 'IT' 'H.R.']
5

In [ ]:
df.head(10)

# Filling in NA values
df['Age']=df['Age'].fillna(df['Age'].mean())



# Standardization, converting each tuple to value
df['Department']=df['Department'].replace(
    {
      'HR':'HR',
      'Human Resources':'HR',
      'H.R.':'HR'
    }
)

print(df['Department'].unique())
print(df)

# There are no null values in this
print('Null values',df['Age'].isnull().sum())


# Removing duplicates based on ID, there is no duplicated ID
print(df[df['ID'].duplicated()])

#Getting values which are duplicated
duplicated_rows = df[df.duplicated(subset=['Name', 'Age', 'Department'], keep='first')]


print('Rows duplicated on Name, Age and Department are:')
print(duplicated_rows)
df.drop_duplicates(subset=['Age','Name', 'Department'], keep='first',inplace=True)

print('final DF', df)

['HR' 'Finance' 'IT']
    ID     Name   Age Department   Salary
0    1     John  28.0         HR  50000.0
1    2     Jane  35.0    Finance  60000.0
2    3    Emily  35.7         HR  55000.0
3    4  Michael  40.0         HR      NaN
4    5    Sarah  29.0         IT  52000.0
5    6    David  50.0    Finance  75000.0
6    7    Laura  38.0         HR  68000.0
7    8   Robert  32.0         HR  57000.0
8    9    Linda  45.0         IT  62000.0
9   10    James  30.0         HR  51000.0
10  11    James  30.0         HR  51000.0
Null values 0
Empty DataFrame
Columns: [ID, Name, Age, Department, Salary]
Index: []
Rows duplicated on Name, Age and Department are:
    ID   Name   Age Department   Salary
10  11  James  30.0         HR  51000.0
final DF    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily  35.7         HR  55000.0
3   4  Michael  40.0         HR      NaN
4   5    Sarah  29.0         IT  52000.0
5   6    David  50.0    Finance  75000.0
6   7    Laura  38.0         HR  68000.0
7   8   Robert  32.0         HR  57000.0
8   9    Linda  45.0         IT  62000.0
9  10    James  30.0         HR  51000.0

## Lab 2: Normalization

In [ ]:
import pandas as pd

def minMax(currVal, minVal, maxVal):
  return (currVal-minVal)/(maxVal-minVal)


list1=[10,20,3,45,23,80,10]
normalizedList=[]

# z= lambda x,y: x/y
# print(z(10,20))

for i in range(0, len(list1)):
  normalizedList.append(round(minMax(list1[i],min(list1),max(list1)),2))

print(normalizedList)
# print(minMax(10,0,100))
# print(minMax(199,198,200))

[0.09, 0.22, 0.0, 0.55, 0.26, 1.0, 0.09]

1.2 Normalization:
 You are given a dataset student_scores.csv that contains the scores of students in different subjects. The scores are on different scales (e.g., some are out
of 100, others out of 50). Normalize the scores to a common scale for comparison.
 a. Normalize the scores of all subjects to a 0-1 scale using Min-Max normalization.
 b. Compare the original and normalized scores.
 Tasks:
 ❖ Load the dataset and inspect the first few rows.
 ❖ Apply Min-Max normalization to the scores of all subjects.
 ❖ Display the original and normalized scores side by side

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
# Making the dataset here itself
data = {
    'StudentID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Math': [78, 88, 60, 90, 55, 83, 71, 64, 88, 76],
    'Science': [65, 75, 50, 78, 48, 72, 66, 52, 80, 68],
    'English': [80, 85, 55, 92, 58, 88, 79, 70, 90, 82]
}
df = pd.DataFrame(data)

print("Initial Data:\n", df.head())

#Min max normalization
scaler = MinMaxScaler()
df[['Math', 'Science', 'English']] = scaler.fit_transform(df[['Math', 'Science', 'English']])
print("\nNormalized Scores:\n", df.head())

Initial Data:
    StudentID  Math  Science  English
0          1    78       65       80
1          2    88       75       85
2          3    60       50       55
3          4    90       78       92
4          5    55       48       58

Normalized Scores:
    StudentID      Math  Science   English
0          1  0.657143  0.53125  0.675676
1          2  0.942857  0.84375  0.810811
2          3  0.142857  0.06250  0.000000
3          4  1.000000  0.93750  1.000000
4          5  0.000000  0.00000  0.081081

## 1.3 Data Binning
 You are given a dataset customer_ages.csv that contains the ages of customers. Perform data binning on the Age column to group customers into age
ranges: "Young" (18-30), "Middle-aged" (31-50), and "Senior" (51 and above).
 a. Perform data binning on the Age column.
 b. Assign a category label to each age group.
 c. Analyze the distribution of customers across the age groups.
 Tasks:
 ❖ Load the dataset and inspect the first few rows.
 ❖ Create bins for the Age column and assign category labels.
 ❖ Calculate the number of customers in each age group.

In [ ]:
import pandas as pd
data = {
    'CustomerID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    'Age': [25, 42, 36, 53, 28, 47, 31, 50, 22, 60, 34, 19, 45, 39, 27]
}

df = pd.DataFrame(data)

#Create bins
bins=[10,20,40,100]
labels=["Teens","Peak","Seniros"]
df['AgeGrp']=pd.cut(df['Age'],bins=bins,labels=labels,right=False)

print("\nData after Binning:\n", df.head())

#Calculate the mean, median and SD of the age group

ageGrp= df.groupby('AgeGrp').agg(
    Count=('Age','count'),
    Mean= ('Age','mean'),
    SD=('Age','std'),
    Min=('Age','min'),
    Max=('Age','max'),
)

print(ageGrp)

Data after Binning:
    CustomerID  Age   AgeGrp
0           1   25     Peak
1           2   42  Seniros
2           3   36     Peak
3           4   53  Seniros
4           5   28     Peak
         Count   Mean        SD  Min  Max
AgeGrp
Teens        1  19.00       NaN   19   19
Peak         8  30.25  5.800246   22   39
Seniros      6  49.50  6.410928   42   60

/tmp/ipython-input-18-474440432.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ageGrp= df.groupby('AgeGrp').agg(

## 1.4 Discritization
 You are given a dataset sales_data.csv that contains the monthly sales figures of a company. The sales figures are continuous values. Discretize the sales
data into categories such as "Low", "Medium", and "High" based on sales volume.
 a.
 b.
 c.
 Tasks:
 Discretize the Sales column into three categories.
 Assign a category label based on the discretized sales values.
 Analyze the distribution of sales across the categories.
 ❖ Load the dataset and inspect the first few rows.
 ❖ Apply discretization to the Sales column.
 ❖ Assign appropriate category labels and analyze the distribution

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)
data={
    'Month':['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],
    'Sales':  np.random.randint(200, 3001, size=12)
    }
df= pd.DataFrame(data)
print("Initial Data:\n", df.head())
# Step 2: Apply discretization
bins = [0, 5000, 20000, float('inf')]
labels = ['Low', 'Medium', 'High']
df['SalesCategory'] = pd.cut(df['Sales'], bins=bins, labels=labels)
print("\nData after Discretization:\n", df.head())
# Step 3: Analyze the distribution of sales categories
sales_category_distribution = df['SalesCategory'].value_counts()
print("\nSales Category Distribution:\n", sales_category_distribution)

Initial Data:
   Month  Sales
0   jan   1060
1   feb   1494
2   mar   1330
3   apr   1295
4   may   1838

Data after Discretization:
   Month  Sales SalesCategory
0   jan   1060           Low
1   feb   1494           Low
2   mar   1330           Low
3   apr   1295           Low
4   may   1838           Low

Sales Category Distribution:
 SalesCategory
Low       12
Medium     0
High       0
Name: count, dtype: int64

## 1.5 Feature Selection
 You are given a dataset medical_data.csv that contains several features related to patients' medical history and a target variable indicating whether they
have a specific disease. Perform feature selection to identify the most important features for predicting the disease.
 a. Use a feature selection method (e.g., Chi-square test, ANOVA, or correlation) to rank the features.
 b. Identify the top 3 features related to the target variable.
 c. Discuss how the selected features could influence the prediction.
 Tasks:
 ❖ Load the dataset and inspect the first few rows.
 ❖ Apply a feature selection method to rank the features.
 ❖ Identify and display the top 3 features.

In [ ]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2
# Step 1: Load the dataset
data = {
    'PatientID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Age': [45, 50, 60, 40, 35, 55, 42, 38, 47, 53],
    'BloodPressure': [130, 140, 150, 120, 110, 145, 135, 115, 125, 140],
    'Cholesterol': [180, 200, 240, 170, 160, 210, 190, 150, 170, 210],
    'Glucose': [95, 105, 120, 90, 85, 115, 100, 80, 95, 110],
    'HeartRate': [70, 75, 80, 65, 60, 78, 72, 68, 70, 76],
    'Disease': [1, 1, 1, 0, 0, 1, 0, 0, 1, 1]
}

# Convert to DataFrame
df = pd.DataFrame(data)

print("Initial Data:\n", df.head())
# Step 2: Define features and target variable
X = df.drop(columns=['Disease'])
y = df['Disease']
# Step 3: Apply Chi-square feature selection
selector = SelectKBest(score_func=chi2, k=3)
selector.fit(X, y)
# Step 4: Get the top 3 features
top_features = X.columns[selector.get_support()]
print("\nTop 3 Features for Predicting Disease:\n", top_features)

Initial Data:
    PatientID  Age  BloodPressure  Cholesterol  Glucose  HeartRate  Disease
0          1   45            130          180       95         70        1
1          2   50            140          200      105         75        1
2          3   60            150          240      120         80        1
3          4   40            120          170       90         65        0
4          5   35            110          160       85         60        0

Top 3 Features for Predicting Disease:
 Index(['Age', 'Cholesterol', 'Glucose'], dtype='object')